{% extends "base.html" %}
{% block extrahead %}
<script type="text/javascript">
$(document).ready(function() {
                  $("#loadingDiv").hide();
                  $("#Result").hide();

                  $('#myform').ajaxForm(
                                        { beforeSubmit: befSub,
success: aftSub, dataType:'json'});
                  });

      function befSub(formData,jqForm,options){
        $("#loadingDiv").show();
        return true;
      }
      function aftSub(data){
        $("#loadingDiv").hide();
        $("#Result").html(data.msg).show();
        return true;
      }
</script>
{% endblock %}

{% block feedback %}
<div id="loadingDiv"><img src="/static/loader.gif" /></div>
<div id="Result">Result here</div>
{% endblock %}

{% block content %}
    <form method="GET" action="/work/createlistjson" id="myform">
    <table summary="Create List"> 
			<caption>Create Random List</caption> 
         <tbody> 
           {{ form }}
			</tbody>
    </table>
   {% if admin %}<input type="submit">{% endif %}
   </form>
{% endblock %}
