<html>
  <head><title>{{ title }}</title>
  <link rel="StyleSheet" href="/static/greyscale.css" type="text/css"> 
  </head>
  <body>
  <table summary="Works"> 
			<caption>Works</caption> 
			<thead> 
				<tr> 
					<th scope="col">Name</th> 
					<th scope="col">Author</th> 
					<th scope="col">Site</th> 
					<th scope="col">&nbsp;</th> 
				</tr> 
			</thead>	
			<tfoot> 
				<tr> 
					<th scope="row">Total</th> 
               <td colspan="1">{{ totalhere }}/{{ overalltotal }}</td> 
				</tr> 
			</tfoot> 
			<tbody> 
			{% for w in works %}
				<tr > 
              <th scope="row" id="r{{ forloop.counter }}"><a href="{{ w.link }}">{{ w.name }}</a></th> 
					<td>{{ w.author.name }}</td> 
					<td>{{ w.site }}</td> 
				</tr>
			{% endfor %}
			</tbody>
	</table>
 </body>
</html>
