<html>
  <head><title>{{ title }}</title>
    <link rel="StyleSheet" href="/static/greyscale.css" type="text/css"> 
    <link rel="StyleSheet" href="/static/thickbox.css" type="text/css"> 
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/thickbox-compressed.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
                        $('#Result').hide();
                        $('#loadingDiv').hide()
                        .ajaxStart(function() {
                                   $(this).show();
                                   })
                        .ajaxStop(function() {
                                  $(this).hide();
                                  });
                        $("a[href*=/work/cache/]").click(function() {
                                                         res = $("#Result");
                                                         res.html("Please wait");
                                                         res.hide();
                                                         $.getJSON($(this).attr('href'),
                                                                   function(data){
                                                                   res.html(data.msg);
                                                                   res.show();
                                                                   this
                                                                  });
                                                         return false;
                                                         });
                        });
</script>
  </head>
  <body>
    <h1><a href="/work/read/list">List: {{ listname }}</a></h1>
    <div id="loadingDiv"><img src="/static/loader.gif" /></div>
    <div id="Result">Result here</div>
  <table summary="Works"> 
			<caption>Works</caption> 
			<thead> 
				<tr> 
					<th scope="col">Name</th> 
					<th scope="col">Author</th> 
					<th scope="col">Site</th> 
					<th scope="col">&nbsp;</th> 
				</tr> 
			</thead>	
			<tfoot> 
				<tr> 
					<th scope="row">Total</th> 
               <td colspan="3">{{ totalhere }}/{{ overalltotal }}</td> 
				</tr> 
				<tr> 
              <th scope="row" colspan="4"><a href="/work/read/list/wget/{{id}}">Download as wget script</a></th> 
				</tr> 
			</tfoot> 
			<tbody> 
			{% for w in works %}
				<tr > 
              <th scope="row" id="r{{ forloop.counter }}">
                {% if w.data %}
                <a href="/blob/{{ w.key.id }}" target="_blank">{{ w.name }}</a></th>
                {% else %}
                <a href="{{ w.link }}" target="_blank">{{ w.name }}</a></th> 
               {% endif %}
               <td><a href="/author/read/{{w.author.key.id}}?height=250&width=500" class="thickbox">{{ w.author.name }}</a></td> 
               <td>{{ w.site }}</td> 
               <td align="right">
                 {% if not w.data %} 
                 <a href="/work/cache/{{w.key.id}}" title="Cache a copy of the pdf"><img src="/static/download.png" alt="Cache a copy of the pdf"/></a>
                 {% endif %}
                 <a href="{{ w.link }}" target="_blank" title="The original pdf"><img src="/static/pdf.gif" alt="Original pdf"></a>
               </td>
				</tr>
			{% endfor %}
			</tbody>
	</table>
 </body>
</html>
