<html>
  <head><title>{{ title }}</title>
  <link rel="StyleSheet" href="/static/greyscale.css" type="text/css"> 
  </head>
  <body>
  <table summary="Sites"> 
			<caption>Sites</caption> 
			<thead> 
				<tr> 
					<th scope="col">Name</th> 
					<th scope="col">Count</th> 
				</tr> 
			</thead>	
			<tfoot> 
				<tr> 
					<th scope="row">Total</th> 
               <td colspan="1">{{ totalhere }}/{{ overalltotal }}</td> 
				</tr> 
			</tfoot> 
			<tbody> 
			{% for s in sites %}
				<tr > 
              <th scope="row" id="r{{ forloop.counter }}">{{ s.0.name }}</th> 
					<td>{{ s.1 }}</td> 
				</tr>
			{% endfor %}
			</tbody>
	</table>

  </body>
